<section class="section about" id="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-3">
        <div class="about_header">
          <span>À propos</span>
          <h1>À mon sujet</h1>
          <p>
            Titulaire d'une Licence en Génie Électrique et Informatique, je suis un data scientist et développeur web
            spécialisé en intelligence artificielle, dédié à des projets technologiques à fort impact au Bénin et en
            Afrique. Fort de certifications en gestion de projets Microsoft 365 et de formations avancées en data
            science (Africa TechUp Tour, FORCE-N Academy, Coursera, OpenClassrooms), je combine expertise technique et vision stratégique pour
            délivrer des résultats concrets.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="about_content">
          <div class="about_content-thumb">
            <div class="about-svg">
              <img src="images/hero/figure-svg.svg" alt="figure décorative" />
            </div>
            <div class="about_content-thumb-image">
              <img class="about_mask_svg" src="images/about/about-img.jpg"
                alt="Photo de Ismaël Christian DAUDA ABASSI" />
            </div>
          </div>
          <div class="about_content-inner">
            <div class="about_content-inner-blob">
              <!-- Blob SVG inchangé -->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 600 600">
                <defs>
                  <linearGradient id="c" x1="0.929" y1="0.111" x2="0.263" y2="0.935" gradientUnits="objectBoundingBox">
                    <stop offset="0" stop-color="#f1f6f9" />
                    <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
                  </linearGradient>
                </defs>
                <g data-name="blob-shape (3)">
                  <path class="blob" fill="url(#c)"
                    d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z" />
                </g>
              </svg>
            </div>
            <h3>
              J'élabore des solutions numériques et énergétiques innovantes et durables
            </h3>
            <p>
              Fasciné par l'intersection entre l'énergie tangible et le digital intelligent, j'ai choisi de fusionner
              ces domaines pour créer des innovations adaptées aux contextes africains. En tant qu'expert en génie
              électrique et IA, j'ai développé des outils comme le projet WIIRU (vision par ordinateur pour l'analyse de
              données) et participé à des hackathons IA pour le sous-titrage en langues locales, optimisant ainsi
              l'automatisation et la prédiction dans des environnements réels. <br> Par ailleurs, je conçois des sites web
              sur mesure pour des entreprises béninoises et internationales, renforçant leur visibilité et leur
              performance numérique grâce à des solutions optimisées pour le SEO et intégrant des outils comme Google
              Analytics.<br>

              <br> Mon objectif : Fournir des solutions accessibles qui améliorent l'efficacité opérationnelle, réduisent les
              coûts énergétiques et accélèrent la transformation numérique en Afrique. Ce n'est pas seulement une
              profession – c'est une contribution active à un avenir technologique inclusif.
            </p>

            <ul>
              <li><a class="active" href="contact.html">Me contacter</a></li>
              <li>
                <a href="images/about/cv 2025.pdf" download>Télécharger CV</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>