<section class="section about" id="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-3">
        <div class="about_header">
          <span>À propos</span>
          <h1>À mon sujet</h1>
          <p>
            Technicien supérieur en Génie Électrique et Informatique, Data
            Scientist et Développeur Web passionné par l'IA et les solutions
            numériques innovantes. Je mets mes compétences au service de projets
            technologiques impactants au Bénin et en Afrique.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="about_content">
          <div class="about_content-thumb">
            <div class="about-svg">
              <img src="images/hero/figure-svg.svg" alt="figure décorative" />
            </div>
            <div class="about_content-thumb-image">
              <img
                class="about_mask_svg"
                src="images/about/about-img.jpg"
                alt="Photo de Ismaël Christian DAUDA ABASSI"
              />
            </div>
          </div>
          <div class="about_content-inner">
            <div class="about_content-inner-blob">
              <!-- Blob SVG inchangé -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 600 600"
              >
                <defs>
                  <linearGradient
                    id="c"
                    x1="0.929"
                    y1="0.111"
                    x2="0.263"
                    y2="0.935"
                    gradientUnits="objectBoundingBox"
                  >
                    <stop offset="0" stop-color="#f1f6f9" />
                    <stop offset="1" stop-color="#f1f6f9" stop-opacity="0" />
                  </linearGradient>
                </defs>
                <g data-name="blob-shape (3)">
                  <path
                    class="blob"
                    fill="url(#c)"
                    d="M455.4 151.1c43.1 36.7 73.4 92.8 60.8 136.3-12.7 43.5-68.1 74.4-111.3 119.4-43.1 45-74 104.1-109.8 109-35.9 5-76.7-44.2-111.8-89.2-35.2-45-64.7-85.8-70.8-132.6-6-46.8 11.6-99.6 46.7-136.3 35.2-36.6 88-57.2 142.4-58.8 54.5-1.7 110.6 15.6 153.8 52.2z"
                  />
                </g>
              </svg>
            </div>
            <h3>
              Je conçois et développe des solutions digitales et énergétiques
              qui ont du sens.
            </h3>
            <p>
              J’ai toujours été fasciné par deux mondes : celui de l’énergie,
              concret, vital, presque brut et celui du digital, plus fluide,
              intelligent, capable d’automatiser, de prédire, d’optimiser. Alors
              au lieu de choisir, j’ai décidé d’unir les deux.
              <br /><br />
              En tant que technicien en génie électrique passionné par l’IA et
              le développement web, je conçois aujourd’hui des solutions
              digitales qui parlent aux réalités du terrain africain :
              automatisation intelligente, optimisation énergétique, data
              science appliquée à des besoins concrets.
              <br /><br />
              Mon objectif ? Créer des outils puissants et accessibles qui
              transforment le quotidien, boostent la productivité et préparent
              l’Afrique à l’ère des technologies du 21ᵉ siècle et du futur.
              <br /><br />
              Ce n’est pas juste une carrière. C’est une mission.
            </p>

            <ul>
              <li><a class="active" href="contact.html">Me contacter</a></li>
              <li>
                <a href="images/about/cv 2025.pdf" download>Télécharger CV</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
