<section class="section blog" id="blog">
    <div class="blog__shape">
        <img src="images/blog/blog-shape.svg" alt="forme du blog">
    </div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-6">
                <div class="blog__header">
                    <span>Blog</span>
                    <h1>Articles récents</h1>
                    <p>Profitez de la diversité des expertises de notre équipe et élargissez votre réseau grâce à nos analyses approfondies sur le développement web, la data science, l’intelligence artificielle et le génie électrique. Découvrez des tendances, des conseils pratiques et des études de cas adaptés aux réalités africaines.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog__header_button desktop">
                    <a href="classic-blog.html">Voir tous les articles</a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/blog/blog-1.jpg" alt="blog-1">
                    </div>
                    <div class="blog__item-content">
                        <span>Dec 3, 2024</span>
                        <a href="single-blog.html?article=dev-web-2025">Tendances du développement web 2025 : Ce que les
                            développeurs africains doivent savoir</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/blog/blog-2.jpg" alt="blog-2">
                    </div>
                    <div class="blog__item-content">
                        <span>May 28, 2025</span>
                        <a href="single-blog.html?article=ia-bien-social">L'IA pour le bien social : Projets
                            transformant les communautés africaines</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="blog__item">
                    <div class="blog__item-thumb">
                        <img src="images/blog/blog-3.jpg" alt="blog-3">
                    </div>
                    <div class="blog__item-content">
                        <span>Jun 12, 2025</span>
                        <a href="single-blog.html?article=anniversaire-parcours">Anniversaire spécial : Mon parcours,
                            mes défis et mes ambitions dans la tech africaine</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__header_button mobile">
                    <a href="classic-blog.html">Voir tous les articles</a>
                </div>
            </div>
        </div>
    </div>
</section>