<section class="section classicBlog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <article class="classicBlog__item">
                    <div class="classicBlog__item-thumb">
                        <img src="images/allpost/allPost-1.jpg" alt="L'IA dans la gestion de l'énergie">
                    </div>
                    <div class="classicBlog__item-content">
                        <span>14 nov. 2024</span>
                        <a href="single-blog.html?article=ia-energie-afrique">L'IA dans la gestion de l'énergie : Opportunités pour l'Afrique en 2025</a>
                    </div>
                </article>
                <article class="classicBlog__item">
                    <div class="classicBlog__item-thumb">
                        <img src="images/allpost/allPost-2.jpg" alt="Tendances du développement web 2025">
                    </div>
                    <div class="classicBlog__item-content">
                        <span>3 déc. 2024</span>
                        <a href="single-blog.html?article=tendances-web-2025">Tendances du développement web 2025 : Ce que les développeurs africains doivent savoir</a>
                    </div>
                </article>
                <article class="classicBlog__item">
                    <div class="classicBlog__item-thumb">
                        <img src="images/allpost/allPost-3.jpg" alt="IA générative pour les entreprises locales au Bénin">
                    </div>
                    <div class="classicBlog__item-content">
                        <span>18 janv. 2025</span>
                        <a href="single-blog.html?article=ia-generative-benin">Exploiter l'IA générative pour les entreprises locales au Bénin</a>
                    </div>
                </article>
                <article class="classicBlog__item">
                    <div class="classicBlog__item-thumb">
                        <img src="images/allpost/allPost-4.jpg" alt="Informatique quantique pour l'Afrique">
                    </div>
                    <div class="classicBlog__item-content">
                        <span>7 fév. 2025</span>
                        <a href="single-blog.html?article=informatique-quantique">L'informatique quantique : Ce que cela signifie pour l'avenir tech de l'Afrique</a>
                    </div>
                </article>
                <article class="classicBlog__item">
                    <div class="classicBlog__item-thumb">
                        <img src="images/allpost/allPost-5.jpg" alt="Solutions tech durables en Afrique">
                    </div>
                    <div class="classicBlog__item-content">
                        <span>22 mars 2025</span>
                        <a href="single-blog.html?article=solutions-tech-durable">Solutions tech durables : Études de cas en Afrique</a>
                    </div>
                </article>
                <div class="classicBlog__pagination">
                    <ul class="pagination">
                        <li class="active"><a href="#" data-original-title="" title="">1</a></li>
                        <li><a href="#" data-original-title="" title="">2</a></li>
                        <li>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20.657" height="11.314" viewBox="0 0 20.657 11.314">
                                    <g fill="#fff" data-name="Group 12">
                                        <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400" />
                                        <path d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z" data-name="Rectangle 2401" />
                                        <path d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z" data-name="Rectangle 2402" />
                                    </g>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="classicBlog__sidebar">
                    <form class="form-search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Rechercher">
                            <span class="search-icon">
                                <svg data-name="Group 1245" xmlns="http://www.w3.org/2000/svg" width="20.438" height="20.438" viewBox="0 0 20.438 20.438">
                                    <path data-name="Path 1457" d="M9 18a9 9 0 119-9 9.011 9.011 0 01-9 9zM9 1.662A7.339 7.339 0 1016.339 9 7.347 7.347 0 009 1.662z" />
                                    <path data-name="Path 1458" d="M19.607 20.438a.828.828 0 01-.587-.243l-4.763-4.763a.831.831 0 011.175-1.175l4.763 4.763a.831.831 0 01-.587 1.418z" />
                                </svg>
                            </span>
                        </div>
                    </form>
                </aside>
                <aside class="classicBlog__sidebar">
                    <div class="categories">
                        <h4 class="sidebar-title">Catégories</h4>
                        <ul class="list-item">
                            <li><a href="">Intelligence Artificielle <span>(1)</span></a></li>
                            <li><a href="">Développement Web<span>(1)</span></a></li>
                            <li><a href="">Innovation Technologique<span>(1)</span></a></li>
                            <li><a href="">Énergie Durable<span>(1)</span></a></li>
                            <li><a href="">Entrepreneuriat<span>(1)</span></a></li>
                        </ul>
                    </div>
                </aside>
                <aside class="classicBlog__sidebar">
                    <div class="latest-post">
                        <h4 class="sidebar-title">Articles Récents</h4>
                        <article class="latest-post-item">
                            <div class="thumb">
                                <img src="images/allpost/allPost-9.jpg" alt="Startups au Bénin">
                            </div>
                            <div class="content">
                                <span class="date">6 juin 2025</span>
                                <h5 class="title"><a href="single-blog.html?article=naviguer-startups-benin">Naviguer dans le paysage des startups au Bénin</a></h5>
                            </div>
                        </article>
                        <article class="latest-post-item">
                            <div class="thumb">
                                <img src="images/allpost/allPost-8.jpg" alt="IA pour le bien social">
                            </div>
                            <div class="content">
                                <span class="date">28 mai 2025</span>
                                <h5 class="title"><a href="single-blog.html?article=ia-bien-social">L'IA pour le bien social : Projets transformant les communautés</a></h5>
                            </div>
                        </article>
                        <article class="latest-post-item">
                            <div class="thumb">
                                <img src="images/allpost/allPost-7.jpg" alt="Code open source en Afrique">
                            </div>
                            <div class="content">
                                <span class="date">2 mai 2025</span>
                                <h5 class="title"><a href="single-blog.html?article=code-open-source">Le rôle du code open source dans les écosystèmes tech africains</a></h5>
                            </div>
                        </article>
                    </div>
                </aside>
                <aside class="classicBlog__sidebar">
                    <div class="archive">
                        <h4 class="sidebar-title">Archives</h4>
                        <ul class="list-item">
                            <li><a href="">Novembre 2024 <span>(1)</span></a></li>
                            <li><a href="">Décembre 2024<span>(1)</span></a></li>
                            <li><a href="">Janvier 2025<span>(1)</span></a></li>
                            <li><a href="">Février 2025<span>(1)</span></a></li>
                            <li><a href="">Mars 2025<span>(1)</span></a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>