<section class="section portfolio" id="portfolio">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 offset-lg-3">
        <div class="portfolio__header">
          <span>Mon Portfolio</span>
          <h1>Découvrez quelques-unes de nos récentes réalisations</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="portfolio__element">
          <div class="portfolio__element_left">
            <div class="portfolio__element_left-item">
              <div class="portfolio__element_left-item-thumb">
                <img src="images/portfolio/bootcamp.jpg" alt="GAB Assurance" />
              </div>
              <div class="portfolio__element_left-item-content">
                <span>Stratégie Digitale & Formation</span>
                <h3>
                  <a href="#">Formation & Bootcamp Africa TechUp Tour</a>
                </h3>
                <a class="see-more-btn" href="#">Voir le projet</a>
              </div>
            </div>
            <div class="portfolio__element_left-item">
              <div class="portfolio__element_left-item-thumb">
                <img
                  src="images/portfolio/digital-explore.jpg"
                  alt="Digital Explore"
                />
              </div>
              <div class="portfolio__element_left-item-content">
                <span>Événementiel & Communication</span>
                <h3>
                  <a href="#"
                    >Digital Explore Conference – Plan de communication &
                    partenariats</a
                  >
                </h3>
                <a class="see-more-btn" href="#">Voir le projet</a>
              </div>
            </div>
          </div>
          <div class="portfolio__element_right">
            <div class="portfolio__element_right-item">
              <div class="portfolio__element_right-item-thumb">
                <img src="images/portfolio/electricique.jpg" alt="BECI BTP" />
              </div>
              <div class="portfolio__element_right-item-content">
                <span>Électrotechnique</span>
                <h3>
                  <a href="#"
                    >Conception du plan électrique industrielle de MOA</a
                  >
                </h3>
                <a class="see-more-btn" href="#">Voir le projet</a>
              </div>
            </div>
            <div class="portfolio__element_right-item">
              <div class="portfolio__element_right-item-thumb">
                <img src="images/portfolio/lablab-ai.jpg" alt="Hackathon IA" />
              </div>
              <div class="portfolio__element_right-item-content">
                <span>Hackathon IA</span>
                <h3>
                  <a href="#"
                    >Sous-titrage de films locaux avec IA – Hackathon ASIN &
                    Lablab.ai</a
                  >
                </h3>
                <a class="see-more-btn" href="#">Voir le projet</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
