<!-- 
══════════════════════════════════════════════════
@hopsyder | Data Scientist & Full-Stack Developer
Nexus Partners - Intelligent Solutions
══════════════════════════════════════════════════
Stack: ML/DL • React/Node • Flutter • DevOps 
-->

<section class="section testimonial">
    <div class="testimonial__background_shape">
        <svg viewBox="0 0 1920 79">
            <path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
        </svg>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3">
                <div class="testimonial__header">
                    <span>Témoignages</span>
                    <h1>Ce que disent les clients de Nexus Partners</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial__slider">

                    <div class="testimonial__slider_item">
                        <ul class="testimonial__slider_item-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="testimonial__slider_item-content">
                            Je suis très satisfaite de la conception du site web de mon cabinet. 
                            Nexus Partners a su créer une plateforme professionnelle, claire et accueillante, 
                            parfaitement alignée avec notre mission d’accompagnement psychologique.
                        </p>
                        <p class="testimonial__slider_item-author">
                            <span>Stéphanie GBEHOUNHESSI</span> | CEO du Cabinet <em>Art de Vivre</em>
                        </p>
                    </div>


                    <div class="testimonial__slider_item">
                        <ul class="testimonial__slider_item-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="testimonial__slider_item-content">
                            Nous avons commandé des visuels pour une campagne Facebook, et en
                            72h Nexus a tout livré avec qualité. Je recommande vivement leurs
                            services digitaux.
                        </p>
                        <p class="testimonial__slider_item-author">
                            <span>Michel HOUNTONDJI</span> | CEO de *Cabinet Impact Social*
                        </p>
                    </div>

                    <div class="testimonial__slider_item">
                        <ul class="testimonial__slider_item-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <p class="testimonial__slider_item-content">
                            Très satisfait de leur accompagnement en communication digitale.
                            Ils sont jeunes, dynamiques et surtout très réactifs.
                        </p>
                        <p class="testimonial__slider_item-author">
                            <span>Justine ADANDE</span> | Directrice du cabinet *Bien-Être
                            Pro*
                        </p>
                    </div>

                    <div class="testimonial__slider_item">
                        <ul class="testimonial__slider_item-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>

                        </ul>
                        <p class="testimonial__slider_item-content">
                            En tant qu’agent de communication pour plusieurs PME, je fais appel à Nexus Partners pour
                            les visuels et les campagnes publicitaires. Leur professionnalisme est bluffant.
                        </p>
                        <p class="testimonial__slider_item-author"><span>Kevin AMOUSSOU</span> | Consultant
                            communication – Freelance</p>
                    </div>

                    <div class="testimonial__slider_item">
                        <ul class="testimonial__slider_item-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>

                        </ul>
                        <p class="testimonial__slider_item-content">
                            Nous avons collaboré avec Nexus pour refondre le site de notre école. Résultat : plus de
                            visites, meilleure visibilité locale et une communication claire.
                        </p>
                        <p class="testimonial__slider_item-author"><span>Clarisse DASSI</span> | Directrice du Complexe
                            Scolaire Élite Plus</p>
                    </div>

                    <div class="testimonial__slider_item">
                        <ul class="testimonial__slider_item-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>

                        </ul>
                        <p class="testimonial__slider_item-content">
                            Nexus Partners nous a accompagnés dans la digitalisation de nos services techniques. Leur
                            intégration d’outils analytiques a optimisé notre suivi client.
                        </p>
                        <p class="testimonial__slider_item-author"><span>Arnaud ZINSOU</span> | Responsable technique
                            chez Génélec BTP</p>
                    </div>

                    <div class="testimonial__slider_item">
                        <ul class="testimonial__slider_item-rating">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>

                        </ul>
                        <p class="testimonial__slider_item-content">
                            Nous utilisons les services de Nexus Partners pour former nos étudiants en marketing
                            digital. Leurs supports et méthodologie sont très engageants.
                        </p>
                        <p class="testimonial__slider_item-author"><span>Isidore HOUNGBEME</span> | Coordinateur
                            Pédagogique – IFESUP Bénin</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>